</body>

<script src="__URL__/js/jquery.min.js?v=2.1.4"></script>
<script src="__URL__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__URL__/js/content.min.js?v=1.0.0"></script>
<script src="__URL__/js/plugins/iCheck/icheck.min.js"></script>

<script src="__URL__/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__URL__/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__URL__/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<script src="__URL__/js/plugins/nestable/jquery.nestable.js"></script>


<script src="__URL__/js/plugins/webuploader/webuploader.min.js"></script>
<script src="__URL__/js/demo/webuploader-demo.js"></script>


<script src="__URL__/js/plugins/sweetalert/sweetalert.min.js"></script>

<script src="__URL__/js/plugins/layer/layer.min.js"></script>
<script src="__URL__/js/plugins/pan/jqfrom/jquery.form.min.js"></script>
<script src="__URL__/js/plugins/pan/jqfrom.js"></script>
<script type="text/javascript" charset="gbk" src="__URL__/js/plugins/ueditor2/ueditor.config.js"></script>
<script type="text/javascript" charset="gbk" src="__URL__/js/plugins/ueditor2/ueditor.all.min.js"> </script>


<script>

        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})

</script>

<script>
    //重置表单
    $('.joe-refresh').each(function(){
        $(this).on('click',function(){
            window.location.reload();
        });
    });

    //返回上一页
    $('.joe-back').each(function(){
        $(this).on('click',function(){
            history.back(-1);
        });
    });
</script>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>

</html>