{include file="public/header" /}
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>筛选条件</h5>
                    {if condition="isset($parent_id) && $parent_id != 0"}
                    <a href="javascript:void(0)" onclick="history.back(-1)" style="float: right">返回上一页</a>
                    {/if}
                </div>
                <div class="ibox-content">
                    <form action="{:url('shop/shopgoodscategory/show')}" id="searchForm" method="get" class="form-horizontal">

                        {if condition="isset($parent_id)"}
                            <input type="hidden" name="parent_id" value="{$parent_id}" />
                        {/if}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品分类名</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="category_name" value="{$Request.get.category_name}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否显示子商品分类</label>

                            <div class="col-sm-10">
                                <select class="form-control m-b" name="all_category" onchange="$('#searchForm').submit()">
                                    <option {if condition="$Request.get.all_category"}selected=""{/if} value="1">是</option>
                                    <option {if condition="!$Request.get.all_category"}selected=""{/if} value="0">否</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">每页</label>

                            <div class="col-sm-10">
                                <select class="form-control m-b" name="rows" value="{$Request.get.rows}" onchange="$('#searchForm').submit()">
                                    <option {if condition="$Request.get.rows == 10"}selected=""{/if} value="10">10 条记录</option>
                                    <option {if condition="$Request.get.rows == 20"}selected=""{/if} value="20">20 条记录</option>
                                    <option {if condition="$Request.get.rows == 30"}selected=""{/if} value="20">30 条记录</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存</button>
                                <a href="{:url('shop/shopgoodscategory/show')}" class="btn btn-white joe-refresh">重置</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商品分类列表</h5>

                </div>
                <div class="ibox-content">
                    <div class="">
                        <a href="{:url('shop/shopgoodscategory/add')}" class="btn btn-primary" style="float: right;margin-bottom:20px">添加商品分类</a>
                    </div>

                    <table class="table table-striped table-bordered table-hover " id="editable">
                        <thead>
                        <tr>
                            <th>
                                <a href="javascript:void(0)" id="select-all-input">全选</a>
                            </th>
                            <th>ID</th>
                            <th>商品分类名</th>
                            <th>上级商品分类</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='categoryList' id='category'}
                        <tr class="gradeA">
                            <td style="width:50px">
                                <div class="checkbox i-checks select-checkbox">
                                    <input type="checkbox" class="select-input-checkbox" data-id="{$category.category_id}">
                                </div>
                            </td>
                            <td>{$category.category_id}</td>
                            <td>{$category.category_name}</td>
                            <td>{$category.parent_category_name}</td>
                            <td class="center">
                                <a href="{:url('shop/shopgoodscategory/show',['parent_id'=>$category.category_id])}">子商品分类</a>
                                <a href="{:url('shop/shopgoodscategory/edit',['category_id'=>$category.category_id])}">编辑</a>
                                <a href="javascript:void(0)" onclick="to_delete(this,{$category.category_id})">删除</a>
                            </td>
                        </tr>
                        {/volist}

                        </tbody>

                    </table>

                    <a href="javascript:void(0)" id="delete-select-input"  class="btn btn-primary" style="margin-bottom:20px">删除</a>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

<script>
    $('#select-all-input').on('click',function(){
        $('.select-input-checkbox').each(function(){

            if($(this).attr('data-check') == 'checked'){
                $(this).attr('data-check','');
                $(this).parent().removeClass('checked');
            }else if(!$(this).attr('data-check')){
                $(this).attr('data-check','checked');
                $(this).parent().addClass('checked');
            }

        });
    });

    $('.select-checkbox .iCheck-helper').on('click',function(){

        var input = $(this).parent().children('.select-input-checkbox');

        if(input.attr('data-check') == 'checked'){
            input.attr('data-check','');
            input.parent().removeClass('checked');
        }else if(!input.attr('data-check')){
            input.attr('data-check','checked');
            input.parent().addClass('checked');
        }
    });

    $('#delete-select-input').on('click',function(){

        var del_id = [];

        $('.select-input-checkbox').each(function(){

            if($(this).attr('data-check') == 'checked'){

                del_id.push($(this).attr('data-id'))

            }

        });

        to_delete($(this),del_id)
    });

    var TO_DELETE      =  "{:url('shop/shopgoodscategory/truedel')}";

</script>